################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Mini-Blog/Mini-Blog/Controllers/PostsController.cs
/Mini-Blog/Mini-Blog/Views/Posts
